
@{
    ViewBag.Title = "Admintiming";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using System.Data;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin-Timing</title>
    <style>
        body {
            background-color: black;
            background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Prevent the image from repeating */
        }

        .container {
            display: flex;
            padding-right: 70pt;
        }
    </style>
</head>
<body>
    <div style="margin:-5pt">
        <div style="padding-left:300pt;padding-right:300pt ;padding-bottom:5pt;padding-top:5pt">
            <h1 style="text-align:center;color:red">Six Eye Cinema Shows</h1>
        </div>
        <div style="padding-top:10pt;padding-bottom:50pt;padding-left:10pt">
            <div style="margin: 0 auto; color: black;font-size: 20px; padding-left: 200pt">
                <table border="1" style="border-color:red">
                    <tr bgcolor="red" style="border-spacing:20px">
                        <th style="border: 1px solid black;">Time ID</th>
                        <th style="border: 1px solid black;">Time Slot</th>
                    </tr>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr bgcolor="black" style="border-spacing:20px">
                            <td style="color: red ;border: 1px solid red;">@row["ID"]</td>
                            <td style="color: red ;border: 1px solid red;">@row["Time_Slot"]</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="container" style="color:black;padding-right:60pt;padding-top:30pt;margin:0 auto;width:80%">
                <div sstyle="font-size:15px" ">
                    <h1 style="color:black;text-align:center">
                        Enter A Time
                    </h1>
                    <form action="/Home/Admintiming" method="post">
                        <table border="1" bgcolor="red" height="300" width="300">
                            <tr>
                                <td>Time Id </td>
                                <td><input type="text" name="tid" /></td>
                            </tr>
                            <tr>
                                <td>Time Slot </td>
                                <td><input type="time" name="time" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" value="Save Data" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <p style="color:black">

                </p>
                <div style="padding-left: 30pt;font-size:15px">
                    <h1 style="color:black;text-align:center">
                        Edit A Show
                    </h1>
                    <form action="/Home/Admintiming" method="post">
                        <table border="1" bgcolor="red" height="300" width="300">
                            <tr>
                                <td>Enter Time Id </td>
                                <td><input type="text" name="tid1" /></td>
                            </tr>
                            <tr>
                                <td>Set Time Id </td>
                                <td><input type="text" name="tid" /></td>
                            </tr>
                            <tr>
                                <td>Set Time Slot </td>
                                <td><input type="time" name="time" /></td>
                            </tr>
                            <tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" value="Edit Data" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div style="padding-left: 30pt;font-size:15px">
                    <h1 style="color:black;text-align:center">
                        Delete A Show
                    </h1>
                    <form action="/Home/Admintiming" method="post">
                        <table border="1" bgcolor="red" height="300" width="300">
                            <tr>
                                <td>Time ID</td>
                                <td><input type="text" name="tid" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" value="Delete Data" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>

